body {
    background-color: white;
}

primary {
    background-color: black; 
}

primary:hover {
    background-color: black;
}

routes {
     background-color: white;
}

main-section {
    flex-shrink: 0; 
    background-size: cover;
}

hide {
    display: none;
}

btn-close {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    position: relative;
    cursor: pointer;
}

btn-close:before, .btn-close:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #000;
}

btn-close:before {
    transform: rotate(45deg);
}

btn-close:after {
    transform: rotate(-45deg);
}

fullwrap img { 
    width: 100%; 
}

fullwrap {
  position: relative; 
}
 
fullcap {
  position: absolute; 
  height: 100%;
  width: 94%;
  background-color: rgba(49, 48, 48, 0.7);
  display: flex; justify-content: center; align-items: center;
}
 
fullcap {
  opacity: 0;
  transition: opacity 0.3s;
}

fullwrap:hover .fullcap {

  opacity: 1;
}
